header {
    padding: 2% 0;
    background-color: #fff;
    position: relative;
    // z-index: 99999;
    // position: fixed;
    top: 0px;
    // width: 100%;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 450;

        nav {
            ul {
                li {
                    display: inline-block;
                    margin-right: 50px;
                }

                .LogIn-Nav {
                    display: none;
                }
            }
        }

        .Icons {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 45px;

            .Search-Icon {
                input {
                    border: none;
                    outline: none;
                    border-bottom: 0.5px solid #c8c8c8;
                }
            }

            span {
                position: absolute;
                transform: translateX(-7px) translateY(-13px);
                font-weight: 500;
                color: #fff;
                background-color: #AA6437;
                padding: 0 3.5px;
                border-radius: 50%;
            }

            .Login {
                border-radius: 4px;
                background-color: #121118;
                color: #fff;
                padding: 3px 10px;
            }
        }

        .MenuIcon {
            display: none;

            i {
                font-size: 2rem;
            }
        }
    }
}

#MenuItems.Show-Nav {
    background-color: #121118;
    display: block;
    position: absolute;
    right: 0px;
    height: 100vh;
    top: 100%;
    padding: 20px;
    color: whitesmoke;
    min-width: 300px;
    z-index: 999;

    ul {
        li {
            margin-right: 0px;
            display: block;
            margin-bottom: 50px;
        }
    }
}


@media (max-width : 1300px) {
    header {
        width: 100%;
        top: 0px;

        .container {
            nav {
                display: none;
            }

            .Icons {
                .Search-Icon {
                    input {
                        width: 400px;
                    }
                }
            }

            .MenuIcon {
                display: block;
            }
        }
    }
}

@media (max-width : 991px) {
    header {
        .container {
            .Icons {
                .Login {
                    display: none;
                }
            }
        }
    }
}

@media (max-width : 767px) {
    header {
        .container {
            .Icons {
                .Search-Icon {
                    input {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media (max-width : 480px) {
    header {
        .container {
            .Logo {
                display: none;
            }

            .Icons {
                gap: 30px;
            }
            #MenuItems.Show-Nav {
                width: 100%;
            }
        }
    }
}