header {
    padding: 2% 0;
    background-color: #fff;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 450;

        nav {
            ul {
                li {
                    display: inline-block;
                    margin-right: 50px;

                    &:last-child {
                        margin-right: 0px;
                    }
                }
            }
        }

        .Icons {
            display: flex;
            align-items: center;
            gap: 45px;

            .Search-Icon {
                input {
                    border: none;
                    outline: none;
                    border-bottom: 0.5px solid #c8c8c8;
                }
            }

            .Love {
                cursor: pointer;

                span {
                    position: absolute;
                    transform: translateX(-7px) translateY(-13px);
                    font-weight: 500;
                    color: #fff;
                    background-color: #AA6437;
                    padding: 0 3.5px;
                    border-radius: 50%;
                }
            }

            .Cart {
                cursor: pointer;

                span {
                    position: absolute;
                    transform: translateX(-7px) translateY(-13px);
                    font-weight: 500;
                    color: #fff;
                    background-color: #AA6437;
                    padding: 0 3.5px;
                    border-radius: 50%;
                }
            }

            .Login {
                border-radius: 4px;
                background-color: #121118;
                color: #fff;
                padding: 3px 10px;
            }
        }
    }
}