body.Change-Background {
    background-color: $PrePrimeColor !important;
}

.LogIn {
    padding: 50px 0;

    .Text {
        margin: auto;
        text-align: center;
        border-right: 0.5px solid #000;

        h1 {
            font-size: 7rem;
            font-family: "Playwrite NG Modern", cursive;
            font-style: oblique;
        }

        p {
            margin-top: 50px;
        }
    }

    .LogIn-Form {
        margin: auto;
        text-align: center;

        form {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 30px;

            p {
                cursor: pointer;
            }

            input {
                background-color: $PrePrimeColor;
                border: 0.5px solid $PrimeColor;
                outline: none;
                border-radius: 7px;
                padding: 5px 10px;
                width: 300px;
                height: 40px;
            }

            .Buttons {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 15px;

                button {
                    border: none;
                    background-color: $PrimeColor;
                    color: #fff;
                    padding: 5px 10px;
                    border-radius: 4px;
                }
            }

            #exampleModal {
                .btn-close {
                    display: none;
                }

                .modal-header {
                    h1 {
                        font-family: "Playwrite NG Modern", cursive;
                        font-style: oblique;
                    }

                }

                .Modal-Form {
                    form {
                        input {
                            width: 100% !important;
                            border: none;
                        }

                        .Form-Name {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            gap: 10px;
                            width: 100%;
                        }

                        .Age-Gender {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            gap: 10px;
                            width: 100%;
                            #gender {
                                background-color: $PrePrimeColor;
                                outline: none;
                                border: none;
                                height: 40px;
                                border-radius: 7px;
                                padding: 0 5px;
                            }
                        }

                    }
                }
            }
        }
    }
}