@import 'Base/common';
@import 'Base/variable';

@import 'Layouts/header';
@import 'Layouts/footer';

@import 'Pages/LogIn';


.Banner {
    figure {
        position: relative;

        img {
            width: 100%;
            height: 650px;
            filter: grayscale(75%);
            aspect-ratio: 16 / 9;
            object-fit: cover;
        }

        figcaption {
            text-align: center;
            position: absolute;
            bottom: 50px;
            left: 0;
            right: 0;
            color: #fff;

            p {
                &:last-child {
                    cursor: pointer;
                    width: fit-content;
                    margin: 10px auto;
                    font-family: "Playwrite NG Modern", cursive;

                }
            }
        }
    }
}

.NewArrive {
    background-color: $PrePrimeColor;
    padding: 30px 0;

    .container {
        .row {
            margin: auto;

            .Text {
                margin: auto;
                text-align: center;

                h1 {
                    font-family: "Playwrite NG Modern", cursive;
                }

                p {
                    margin: 30px 0;
                    font-family: "Playwrite NG Modern", cursive;

                }

                button {
                    border: none;
                    background-color: $PrimeColor;
                    color: #fff;
                    padding: 5px 15px;
                }
            }

            .Figure {
                margin: auto;
                text-align: center;

                img {
                    max-width: 100%;
                    height: 300px;
                    aspect-ratio: 1 / 1;
                    object-fit: cover;
                    border-radius: 4px;
                }
            }
        }
    }
}

.TrendingStyle {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
    }
}

.PopularCard {
    max-width: 18em;
    object-fit: cover;
    position: relative;
    cursor: pointer;

    figure {
        img {
            max-width: 100%;
            height: 400px;
            object-fit: cover;

            &:hover {
                opacity: 0.7;
            }
        }
    }

    figcaption {
        padding: 10px 0;

        p {
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            white-space: pre-wrap;
        }
    }

    button {
        position: absolute;
        top: 12px;
        right: 20px;
        border: none;
        background-color: transparent;
        font-size: 1.3rem;

        .Liked {
            display: none;
        }

        &:hover {
            .UnLike {
                display: none;
            }

            .Liked {
                display: block;
                color: red;
            }
        }
    }
}

.TrendingStyle-Banner {
    .row {
        figure {
            position: relative;

            img {
                max-width: 100%;
            }

            figcaption {
                position: absolute;
                text-align: center;
                left: 50px;
                bottom: 30px;

                h3 {
                    font-family: "Playwrite NG Modern", cursive;

                }

                button {
                    margin-top: 15px;
                    border: none;
                    background-color: #fff;
                    padding: 7px 20px;
                }
            }
        }
    }
}

.CategoriesList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;

    .Categories {
        figure {
            max-width: 18em;
            position: relative;

            &::before {
                content: "";
                height: 100%;
                width: 100%;
                background: linear-gradient(to top, #000, #00000000);
                position: absolute;
                top: 0px;
                left: 0px;
            }

            img {
                max-width: 100%;
                object-fit: cover;
            }

            figcaption {
                position: absolute;
                text-align: center;
                bottom: 20px;
                left: 0px;
                right: 0px;

                p {
                    font-size: 1.3rem;
                    color: #fff;
                    margin-bottom: 10px;
                }

                button {
                    border: none;
                    background-color: #fff;
                    padding: 10px 20px;
                }
            }
        }
    }
}

.FastSelling {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
    }
}

.GridSection {
    background-color: $PrePrimeColor;
    padding: 30px 0;

    .GridImage {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-rows: 250px;
        gap: 15px;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;

            &:first-child {
                grid-row: 1 / 3;
            }

            &:nth-child(2) {
                grid-column: 2 / 4;
            }
        }
    }

    .GridText {
        text-align: center;
        margin: auto;

        h3 {
            font-family: "Playwrite NG Modern", cursive;
        }

        p {
            font-size: 1.3rem;
            margin: 20px;
        }

        button {
            border: none;
            background-color: $PrimeColor;
            color: #fff;
            padding: 5px 15px;
        }
    }
}

.ContactRow {
    figure {
        position: relative;

        &::before {
            content: "";
            height: 100%;
            width: 100%;
            background: linear-gradient(to right, #000, #00000000, #000);
            position: absolute;
            top: 0px;
            left: 0px;
        }

        img {
            width: 100%;
            height: 300px;
            object-fit: cover;
        }

        figcaption {

            text-align: center;
            position: absolute;
            left: 0px;
            right: 0px;
            bottom: 70px;
            color: #fff;

            h3 {
                font-weight: 700;
                font-family: "Playwrite NG Modern", cursive;
            }

            p {
                margin: 15px;
            }

            form {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;

                input {
                    padding: 4.5px 15px;
                    outline: none;
                    border: none;
                }

                button {
                    border: none;
                    background-color: #fff;
                    color: #000;
                    padding: 5.5px 15px;
                    transition: all 0.3s linear;

                    &:hover {
                        background-color: #000;
                        color: #fff;
                    }
                }
            }
        }
    }
}

.CustomerStories {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;

    .Stories {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 15px;
        padding: 10px;
        border: 1px solid #f5f5f5;
        border-radius: 4px;
        cursor: pointer;

        img {
            max-width: 100%;
            height: 250px;
            object-fit: cover;
            aspect-ratio: 1 / 1;
            border-radius: 70px 0px 70px 0px;
            border-left: 10px solid #c8c8c8;
            overflow: hidden;
        }

        figcaption {
            width: 18em;
            text-align: center;

            h6 {
                margin: 10px;
            }
        }
    }
}

.AboutPatuki {
    p {
        span {
            color: #AA6437;
            font-weight: 550;
        }
    }
}

.Error {
    padding: 50px 0;

    .Message {
        margin: auto;

        h1 {
            font-size: 5rem;
            font-family: "Playwrite NG Modern", cursive;
        }

        p {
            margin: 30px 0;
        }

        .Quick-Button {
            display: flex;
            align-items: center;
            gap: 15px;

            button {
                border: none;
                background-color: $PrimeColor;
                color: #fff;
                padding: 5px 15px;
            }
        }
    }

    .Question {
        margin: auto;
        text-align: center;

        h1 {
            font-size: 17rem;
            color: transparent;
            -webkit-text-stroke: 1px $PrimeColor;
        }
    }
}